@font-face {
    font-family: 'Lemon Melon';
    src: url('fonts/LemonMelon.ttf') format('truetype');
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0b1522;
    font-family: 'Lemon Melon', sans-serif; 
}

.heart{
    height: 70px;
    width: 70px;
    background: #f20044;
    position: fixed;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #f20044;
    animation: heart 0.6s linear infinite;

}
.heart:before{
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: #f20044;
    top: -50%;
    border-radius: 50px;
    box-shadow: -10px -10px 90px #f20044;
}
.heart:after{
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: #f20044;
    right: -50%;
    border-radius: 50px;
    box-shadow: 10px 10px 90px #f20044;
}
@keyframes heart{
    0%{
        transform: rotate(-45deg) scale(1.07);
    }
    80%{
        transform: rotate(-45deg) scale(1.0);
    }
    100%{
        transform: rotate(-45deg) scale(0.8);

    }
}

.btn {
    background: #f20044; /* Red background */
    padding: 15px 30px;
    border-radius: 30px; /* Rounded corners */
    text-align: center;
    display: inline-block;
    cursor: pointer;
    position: fixed;
    overflow: hidden;
    margin-top: 20%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Button Hover Effect */
.btn:hover {
    transform: scale(1.1);
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.4);
}

/* Button Text Styling */
.btn a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    z-index: 2;
}
h3#text {
    text-decoration: none;
    margin-bottom: 20%;
    color: white;
    
}
/* Animation for the button */
.btn::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: #ff4081;
    border-radius: 50%;
    animation: pulse 1.5s ease-out infinite;
    z-index: 1;
}

@keyframes pulse {
    0% {
        transform: scale(0);
        opacity: 0.8;
    }
    50% {
        transform: scale(1);
        opacity: 0.2;
    }
    100% {
        transform: scale(0);
        opacity: 0.8;
    }
}
